apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:  # â† this was incorrectly indented
        - name: sample-api
          image: sreenu727/apis:latest
          ports:
            - containerPort: 3000
